<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Burger Time</title>
  <link rel="stylesheet" href="/css/chat.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Germania+One&display=swap" rel="stylesheet">
</head>
<body>

<section >
<div class="splitscreen">
  <div class="meat-half half">
    <div class="name-holder meat-name-holder">

    </div>
    <span class="meat-counter">0</span>
    <img class="meat-burger" src="/img/meat_burger.png" alt="">
    <div class="controls">
      <button value="meat" class="meat-min min">-</button>
      <button value="meat" class="plus meat-plus">+</button>
    </div>
  </div>
  <div class="vegan-half half">
    <div class="name-holder vegan-name-holder">

    </div>
    <span class="vegan-counter">0</span>
    <img class="vegan-burger" src="/img/vegan_burger.png" alt="">
    <div class="controls">
      <button value="vegan" class="plus vegan-plus">+</button>
      <button value="vegan" class="min vegan-min">-</button>
    </div>
  </div>
</div>

</section>
<div class="modal">
  <form class="chat" action="">
    <label for="namek">We need your name first</label>
    <textarea id="namek" class="input" name="message" placeholder="Your name"></textarea>
    <button class="send" type="button">></button>
  </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/chat.js"></script>
</body>
</html>
